/* static/main/css/main.css */

/* Основные стили */
body {
    background: #2c2c2c;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;  /* Предотвращаем скроллинг */
    position: relative;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/main/img/mount2.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;  /* Помещаем фон под контент */
}

.header {
    background: rgba(52, 52, 52, 0.72);  
    backdrop-filter: blur(40px); /* Эффект размытия */
    color: #fff;
    width: calc(100% - 300px); /* Ширина за вычетом фиксированной ширины aside */
    padding: 20px 20px;
    position: fixed;
    top: 0;
    left: 300px; /* Смещение хедера вправо на фиксированную ширину aside */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: width 0.3s, left 0.3s; /* Плавный переход */
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.other {
    display: flex;
    gap: 20px;
}

.auth-links {
    display: flex;
    gap: 20px;
}

.header nav a, .auth-links a {
    color: #fff;
    text-decoration: none;
}

.header nav a:hover, .auth-links a:hover {
    color: #eb5959;
}

aside {
    background: rgba(52, 52, 52, 0.72);  
    backdrop-filter: blur(40px); 
    width: 300px;  
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 1px solid #FFFFFF99;
    position: fixed;
    box-sizing: border-box;
    overflow: auto;
    transition: width 0.3s;  
} 

#resizer {
    display: none; /* Скрываем элемент resizer */
}

aside img {
    width: 100%; /* Изменяем размер логотипа */
    max-width: 250px;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    word-wrap: break-word; /* Переносим длинные слова */
    word-break: break-all; /* Переносим слова по любой точке */
    overflow: hidden; /* Предотвращаем выход текста за границы */
}

aside h3 {
    margin-top: 25px;
    font-size: 36px;
}

aside ul {
    list-style: none;
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
}

aside ul li {
    color: #fff;
    display: block;
    margin-block: 20px;
    transition: transform .6s ease;
    font-size: 22px;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

aside a {
    text-decoration: none;
}

aside a li:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    flex-grow: 1;
    margin-left: 300px; /* Смещение основного контента с учетом фиксированной ширины aside */
    margin-top: 60px; /* Отступ вниз на высоту хедера */
    box-sizing: border-box;
    transition: margin-left 0.3s; /* Плавный переход */
    opacity: 0; /* Изначально скрываем основной контент */
}

body.loaded main {
    opacity: 1; /* Показываем основной контент после загрузки страницы */
    transition: opacity 0.3s; /* Плавный переход */
}

main .background {
    background: transparent; /* Убираем фоновое изображение */
    height: calc(100vh - 60px); /* Высота за вычетом хедера */
    width: 100%;
}

main .blur {
    background: rgba(10, 10, 10, 0.1); 
    backdrop-filter: blur(6px); 
    height: calc(100vh - 60px); /* Высота за вычетом хедера */
    width: 100%;
}

main .features {
    color: #fff;
    margin: auto;
    text-align: center;
    width: 88%;
    position: absolute;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.alert-warning {
    width: 400px;
    margin: 20px auto;
    text-align: center;
}

form {
    width: 100%; /* Делаем форму шириной 100% */
}

/* Стили для контейнера формы */
.login-container {
    background: #fff; /* Белый фон */
    border-radius: 8px; /* Радиус скругления углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 40px 20px; /* Внутренние отступы */
    max-width: 400px; /* Максимальная ширина контейнера */
    width: 100%; /* Делаем контейнер шириной 100% */
    position: absolute; /* Позиционирование для отображения поверх всего */
    text-align: center; /* Выравнивание текста по центру */
    z-index: 1;
}

.login-container h1 {
    margin-bottom: 30px; /* Отступ снизу */
    font-size: 28px; /* Размер шрифта заголовка */
}

.login-container .form-control {
    margin-bottom: 20px; /* Отступ снизу */
    height: 45px; /* Высота полей ввода */
    font-size: 16px; /* Размер шрифта полей ввода */
    padding-left: 10px; /* Внутренний отступ слева */
    width: 100%; /* Ширина полей ввода */
    box-sizing: border-box; /* Учет внутренних отступов и рамки в ширине */
}

.login-container .btn {
    width: 100%; /* Ширина кнопки 100% */
    padding: 10px; /* Внутренние отступы кнопки */
    font-size: 18px; /* Размер шрифта кнопки */
}

/* Стили для контейнера профиля */
.profile-container {
    background: #fff; /* Белый фон */
    border-radius: 8px; /* Радиус скругления углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 40px 20px; /* Внутренние отступы */
    max-width: 800px; /* Максимальная ширина контейнера */
    width: 100%; /* Делаем контейнер шириной 100% */
    position: absolute; /* Позиционирование для отображения поверх всего */
    text-align: center; /* Выравнивание текста по центру */
    z-index: 1;
}

.profile-header {
    margin-bottom: 30px;
}

.profile-info {
    margin-bottom: 30px;
}

.profile-photo {
    width: 150px; /* Ширина фотографии */
    height: 150px; /* Высота фотографии */
    border-radius: 50%; /* Скругление углов */
    object-fit: cover; /* Обрезка изображения по размеру */
    margin-bottom: 20px; /* Отступ снизу */
}

.profile-edit .form-control {
    margin-bottom: 20px; /* Отступ снизу */
    height: 45px; /* Высота полей ввода */
    font-size: 16px; /* Размер шрифта полей ввода */
    padding-left: 10px; /* Внутренний отступ слева */
    width: 100%; /* Ширина полей ввода */
    box-sizing: border-box; /* Учет внутренних отступов и рамки в ширине */
}

.profile-edit .btn {
    width: 100%; /* Ширина кнопки 100% */
    padding: 10px; /* Внутренние отступы кнопки */
    font-size: 18px; /* Размер шрифта кнопки */
}


/* Стили для контейнера формы */
.registration-container {
    background: #fff; /* Белый фон */
    border-radius: 8px; /* Радиус скругления углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 40px 20px; /* Внутренние отступы */
    max-width: 600px; /* Максимальная ширина контейнера */
    width: 100%; /* Делаем контейнер шириной 100% */
    position: absolute; /* Позиционирование для отображения поверх всего */
    text-align: center; /* Выравнивание текста по центру */
    z-index: 1;
}

.registration-container h1 {
    margin-bottom: 30px; /* Отступ снизу */
    font-size: 28px; /* Размер шрифта заголовка */
}

.registration-container .form-control {
    margin-bottom: 20px; /* Отступ снизу */
    height: 45px; /* Высота полей ввода */
    font-size: 16px; /* Размер шрифта полей ввода */
    padding-left: 10px; /* Внутренний отступ слева */
    width: 100%; /* Ширина полей ввода */
    box-sizing: border-box; /* Учет внутренних отступов и рамки в ширине */
}

.registration-container .btn {
    width: 100%; /* Ширина кнопки 100% */
    padding: 10px; /* Внутренние отступы кнопки */
    font-size: 18px; /* Размер шрифта кнопки */
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    width: 48%;
}