body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 500px;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    position: fixed;

}

aside img {
    width: 250px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}


aside h3 {
    margin-top: 25px;
    font-size: 36px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-block: 20px;
    transition: transform .6s ease;
    font-size: 22px;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main {
    display: flex;
    align-items: center;
    margin-left: 500px;
 }

main .features {
    color: #fff;
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 100%;


 }

 main .features h1 {font-size: 50px; f}
 main .features p {max-width: 400px; margin: 20px auto}


.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 40.3%;
    text-align: center;
}


form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}