{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <aside>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="bi bi-house-door"></i> Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="bi bi-person-fill"></i> Про нас</li></a>
            <a href="{% url 'news_home' %}"><li><i class="bi bi-newspaper"></i> Новости</li></a>
            <a href="#"><li><i class="bi bi-telegram"></i> Контакты</li></a>
            <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="bi bi-plus-circle-fill"></i> Создать запись </button></li></a>
        </ul>
    </aside>

    <div id="resizer" style="display: none;"></div> <!-- Скрываем элемент resizer -->

    <header class="header">
        <div class="header-content">
<!--            <a href="#" class="logo">Логотип</a>-->

            <div class="other">
                <nav>
                    <a href="#">Ссылка 1</a>
                    <a href="#">Ссылка 2</a>
                    <a href="#">Ссылка 3</a>
                </nav>
            </div>
            <div class="auth-links">
                <a href="#"><li><i class="bi bi-person-add"></i> Регистрация</li></a>
                <a href="{% url 'users:login %'}"><li><i class="bi bi-person"></i> Войти</li></a>
            </div>
        </div>
    </header>

    <main>
        <div class="background">
            <div class="blur"></div>
        </div>

        {% block content %}
        {% endblock %}
    </main>

    <script>
        // Добавляем класс 'loaded' к body после полной загрузки страницы
        window.addEventListener('load', function() {
            document.body.classList.add('loaded');
        });
    </script>
    <script src="{% static 'main/js/resize.js' %}"></script>
</body>
</html>
