{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Вход {% endblock %}

{% block content %}
    <div class="login-container">
        <h1>Войти</h1>
        <form method="post" action="{% url 'user:login' %}">
            {% csrf_token %}
            <span>{{ error }}</span><br>
            <input type="text" placeholder="Логин" class="form-control" required> <br>
            <input type="password" placeholder="Пароль" class="form-control" required> <br>
            <button class="btn btn-success" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
