{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Вход {% endblock %}

{% block content %}
    <div class="login-container">
        <h1>Войти</h1>
        <form method="post" action="{% url 'user:login' %}">
            {% csrf_token %}
<!--            <span>{{ error }}</span><br>-->


            <input type="text" placeholder="Логин" name="username" id="id_username" class="form-control" required> <br>
            <input type="password" placeholder="Пароль" name="password" id="id_password" class="form-control" required> <br>

            {% comment %}
            {% for item in form %}
                {{ item }}
            {% endfor %}
            {% endcomment %}


            {% comment %} {{ form.username }} {% endcomment %}

            {% comment %} {{ form.password }} {% endcomment %}
            <button class="btn btn-success" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
